body {
  box-sizing: border-box;
  padding: 20px 20px;
}

h1 {
  text-align: center;
  color: plum;
  background-color: purple;
  padding: 15px 0;
}

h1 a {
  text-decoration: none;
}

nav {
  background-color: plum;
  padding: 15px 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

li {
  text-transform: uppercase;
}

a {
  color: blueviolet;
}

a:hover {
  color: rgb(80, 15, 165);
}

form {
  background-color: rgb(196, 63, 163);
  margin-top: 15px;
  padding: 15px 15px;
}

form input[type="submit"],
button {
  background-color: purple;
  color: white;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

div,
main {
  margin-top: 15px;
  padding: 15px 0;
  text-align: center;
}

.btn-container,
.table-container {
  display: flex;
  justify-content: center;
  max-width: 0 auto;
}

.first {
  color: rgb(71, 30, 109);
  font-size: 20px;
}

.second {
  color: blueviolet;
  font-size: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

table {
  font-size: 20px;
}

table tr {
  border-bottom: 2px solid purple;
}
